<launch>
	<!-- publish the required transform /base_link -> /laser -->
	<include file="$(find p2os_launch)/launch/tf_base_link_to_laser.launch" />
	
	<!-- Uncomment the laser you wish to use -->
	<!-- <include file="$(find p2os_launch)/hokuyo.launch" /> -->
	<include file="$(find p2os_launch)/launch/sicklms.launch" /> 
	
</launch>
